h1,
p {
  font-family: Lato;
}

.name-list {
  color: rgba(207, 35, 56, 1);
}
/*Navigate*/

.nav-container {
  margin-left: 20px;
}

.nav {
  background-color: rgba(239, 241, 245, 1);
  width: 220px;
}
.logo {
  width: 120px;
}

.name-asset {
  color: rgba(207, 35, 56, 1);
  font-weight: bold;
}

.navLink {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  border: solid white 2px;
  padding: 10px;
}

.navLink:hover {
  background-color: rgba(207, 35, 56, 1);
  color: #ffffff;
}

.active {
  background-color: rgba(207, 35, 56, 1);
  color: #ffff;
}

/*PageLayout*/

.row-home {
  background-color: rgba(207, 35, 56, 1);
  color: #ffffff;
  height: 50px;
  padding: 10px;
}

.home {
  margin-left: 50px;
}

.pt-3 {
  padding: 40px;
}

.p-4 {
  margin-top: 50px;
}

/*Select day */
#select-date {
  width: 165px;
  height: 30px;
}

#select-date[type='date']::before {
  content: attr(data-placeholder);
  width: 165px;
}

#select-date[type='date']:focus::before,
#select-date[type='date']:valid::before {
  display: none;
}

/*SearchBar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

/*SearchBar*/
