h1, p {
  font-family: Lato;
}

.navItem:hover, .navLink:hover
{
  background-color: rgba(207,35,56,1);
  color: #ffffff;
}

.navItem .navLink .active
{
  background-color: rgba(207,35,56,1);
  color: #ffffff;
}


.link
{
  text-decoration: none;
}

.navLink
{
  color: #000000;
  border: solid white 2px; 
}
